<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BSV_Development</title>
  </head>
  <body>
    Learning to setup BSV application
    <br />
    <br />
    <%- body%>
    <br />
    <br />
    FOOTER
  </body>
</html>
