<center>
  <div id="block1">
    <h1>XINRA<sup>INC</sup> <br />Bitcoin<sup>SV</sup></h1>
    <h2>Wallet APP</h2>
    <h3>Your Private Key is:</h3>
    <p id="privText"></p>
  </div>
  <div id="block2">
    <h3>Your Public Key is:</h3>
    <p id="pubText"></p>
  </div>
  <div id="block3" style="">
    <h1>Your Address is:</h1>
    <p id="address"></p>
  </div>
</center>
