<center>
  <div id="block1">
    <h1>XINRA<sup>INC</sup> <br />Bitcoin<sup>SV</sup></h1>
    <h2>Wallet APP</h2>
   
    <div id="enryptedBlock">
        <h3>Your Private Key is encrypted</h3>
    <p id="encrypted"></p>
    </div>
    </div>
  </div>
  <div id="block2">
    <h3>Your Public Key is:</h3>
    <p id="pubText"></p>
  </div>
  <div id="block3">
    <h1>Your Address is:</h1>
    <p id="address"></p>
  </div>
  
    

<!--<div id="decryptedBlock">
    <h1>Decrypted Key:</h1> 
    <p id="decrypted"> </p>
</div>-->
</center>
